{
    "env":{
        "production":{
            "plugins": [
                ["react-remove-properties", {"properties": ["data-test-id"]}]
            ]
        },
        "test":{
            "plugins": ["istanbul"]
        }
    },
    
    "presets": ["react-app"]
}