# Node build artifacts
node_modules
npm-debug.log
yarn-error.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

hash-test*

# Build js
public/js
build
.vscode
build
yarn-error.log

# Cypress Testing
cypress/temp_data
cypress/videos
cypress/screenshots
mochawesome-report/
reports/
coverageReports
cypressCoverage
jestCoverage
junit.xml
cypress/integration/examples
.nyc_output/
.vercel
