* {
  box-sizing: border-box;
}

body {
  margin: 0;
  top: 0px !important;
  a { text-decoration: none; }
  @media screen and (max-width: 600px) {
    overflow: hidden;
  }
}

#container--main {
  @media screen and (max-width: 600px) {
    overflow-y: auto;
  }
}
.content {
  width: 100%;
  @media screen and (max-width: 600px) {
    height: 100%;
  }
  & > div {
    min-width: 88px;
  }
}
a{
  color: #5073B3;
  &:hover {
    color: #2D4A80;
  }
}

.center-align {
  vertical-align: middle;
  display: inline-block !important;
}

.pull-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

[data-placement="top"] .badge-tooltipTop{
  top: 15px;
  position: relative;
}

[data-placement="bottom"] .badge-tooltipTop{
  top: -10px;
  position: relative;
} 

.nav-bottom-selectedLabel{
  color: #f26f6f;
}

input[class*="inputSingleline"] {
    height: 1.2em;
}

@media screen and (max-width: 400px){
  .nav-bottom-label{
    font-size: 10px !important;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky.sticky-fixed.is-sticky {
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
       backface-visibility: hidden;
}

.sticky.sticky-fixed.is-sticky:not([style*="margin-top"]) {
  margin-top: 0 !important;
}
.sticky.sticky-fixed.is-sticky:not([style*="margin-bottom"]) {
  margin-bottom: 0 !important;
}


.sticky.sticky-fixed.is-absolute{
  position: absolute;
}

strong {
  font-weight: 600;
}

@media screen {
  .hide--on-screen {
    display: none !important;
  }
}

@media print {
  .hide--on-print {
    display: none !important;
  }

  .page-break-after--avoid {
    page-break-after: avoid;
  }

  .page-break-after--force {
    page-break-after: always;
  }

  .page-break-inside--avoid {
    page-break-inside: avoid;
  }

  .no-background {
    background: none !important;
  }
}