* {
  box-sizing: border-box;
}

body {
  margin: 0;
  a { text-decoration: none; }
}
.content {
  width: 100%;
  & > div {
    min-width: 88px;
  }
}

.center-align {
  vertical-align: middle;
  display: inline-block !important;
}

.pull-right {
  text-align: right;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}