name: Sync branch
on:
  push:
    branches:
      - main
jobs:
  sync-branch:
    name: Update develop branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3
      - uses: connor-baer/action-sync-branch@main
        with:
          branch: dev
          token: ${{ secrets.GH_ACT_PAT }}
          force: false
